iframe {
    width: 100%;
    height: 12.5rem;
}

@media screen and (min-width: 1440px) {
    /*videoscreen size*/
    iframe {
        width: 100%;
        height: 32rem;
    }
}

@media screen and (max-width: 1440px) {
    /*videoscreen size*/
    iframe {
        width: 100%;
        height: 25rem;
    }
}
/* Large devices (laptops/desktops,tablet 1024px and down) */

@media screen and (max-width: 1024px) {
    /*videoscreen size*/
    iframe {
        width: 100%;
        height: 18.75rem;
    }
}
/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    /*videoscreen size*/
    iframe {
        width: 100%;
        height: 12.5rem;
    }
}